
<div class="w-75 m-auto py-5">
    <form [formGroup]="loginForm"  (ngSubmit)="submitLoginForm(loginForm)">
      
  
    <div class="form-group">
        <label  class="mb-2" for="first_name">Email :</label>
        <input formControlName="email" class="form-control" type="email" id="email">
    
      <div *ngIf="loginForm.get('email')?.errors!=null && loginForm.get('email')?.touched" class="alert my-3 alert-danger">
            <p *ngIf="loginForm.get('email')?.errors?.['required']" >email is required </p>
            <p *ngIf="loginForm.get('email')?.errors?.['email']">email is invaild</p>
        </div>
    </div>
    <div class="form-group">
        <label  class="mb-2" for="password">Password :</label>
        <input formControlName="password" class="form-control mb-4" type="password"  id="password">
    
        <div *ngIf="loginForm.get('password')?.errors!=null && loginForm.get('password')?.touched" class="alert my-3 alert-danger">
            <p *ngIf="loginForm.get('password')?.errors?.['required']" >password is required </p>
            <p *ngIf="loginForm.get('password')?.errors?.['pattern']">password must start with UpperCase...</p>
        </div>
    </div>
    <button [disabled]="loginForm.invalid" class="btn btn-info" type="submit">login</button>
    </form>
    </div>
    
