
<div class="w-75 m-auto py-5">
    <form [formGroup]="registerForm"  (ngSubmit)="submitRegisterForm(registerForm)">
        <div class="form-group">
            <label  class="mb-2" for="first_name">firstName :</label>
            <input formControlName="firstName" class="form-control" type="text" name="" id="first_name">
       
        <div *ngIf="registerForm.get('firstName')?.errors!=null && registerForm.get('firstName')?.touched" class="alert my-3 alert-danger">
            <p *ngIf="registerForm.get('firstName')?.errors?.['required']" >first_name is required </p>
            <p *ngIf="registerForm.get('firstName')?.errors?.['minlength']">first_name is minlength 3</p>
            <p *ngIf="registerForm.get('firstName')?.errors?.['maxlength']">first_name is maxlength 10</p>
        </div>
    </div> 
    
    <div class="form-group">
        <label  class="mb-2" for="last_name">lastName :</label>
        <input formControlName="lastName" class="form-control" type="text" name="" id="last_name">
    
        <div *ngIf="registerForm.get('lastName')?.errors!=null && registerForm.get('lastName')?.touched" class="alert my-3 alert-danger">
            <p *ngIf="registerForm.get('lastName')?.errors?.['required']" >last_name is required </p>
            <p *ngIf="registerForm.get('lastName')?.errors?.['minlength']">last_name is minlength 3</p>
            <p *ngIf="registerForm.get('lastName')?.errors?.['maxlength']">last_name is maxlength 10</p>
        </div>
    </div>
    <div class="form-group">
        <label  class="mb-2" for="first_name">Age :</label>
        <input formControlName="age" class="form-control" type="number" name="" id="age">
    
        <div *ngIf="registerForm.get('age')?.errors!=null && registerForm.get('age')?.touched" class="alert my-3 alert-danger">
            <p *ngIf="registerForm.get('age')?.errors?.['required']" >age is required </p>
            <p *ngIf="registerForm.get('age')?.errors?.['min']">age is min 20</p>
            <p *ngIf="registerForm.get('age')?.errors?.['max']">age is max 70</p>
        </div>
    </div>
    <div class="form-group">
        <label  class="mb-2" for="first_name">Email :</label>
        <input formControlName="email" class="form-control" type="email" id="email">
    
      <div *ngIf="registerForm.get('email')?.errors!=null && registerForm.get('email')?.touched" class="alert my-3 alert-danger">
            <p *ngIf="registerForm.get('email')?.errors?.['required']" >email is required </p>
            <p *ngIf="registerForm.get('email')?.errors?.['email']">email is invaild</p>
        </div>
    </div>
    <div class="form-group">
        <label  class="mb-2" for="password">Password :</label>
        <input formControlName="password" class="form-control mb-4" type="password"  id="password">
    
        <div *ngIf="registerForm.get('password')?.errors!=null && registerForm.get('password')?.touched" class="alert my-3 alert-danger">
            <p *ngIf="registerForm.get('password')?.errors?.['required']" >password is required </p>
            <p *ngIf="registerForm.get('password')?.errors?.['pattern']">password must start with UpperCase...</p>
        </div>
    </div>
    <button [disabled]="registerForm.invalid" class="btn btn-info" type="submit">register</button>
    </form>
    </div>
    